@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Chakra+Petch&family=Dancing+Script:wght@700&family=Sono:wght@600&family=Tilt+Neon&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Chakra+Petch&family=Dancing+Script:wght@700&family=Julius+Sans+One&family=Sono:wght@600&family=Tilt+Neon&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
}
.Logo,
.homeTitle {
  font-family: "Dancing Script", cursive !important;
}

.logInForm {
  width: 28rem !important;
  margin-top: -4rem;
}
.createBtn {
  margin-top: -8rem;
}
.homeTitle {
  font-family: "Julius Sans One", sans-serif;
  color: #a78bfa;
}
.title {
  font-family: "Manjari", sans-serif;
}

.navEnd {
  margin-top: 3.65rem;
}
.notify {
  margin-top: 3.5rem;
}
